name: Checks

on: 
  pull_request:
  push:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command: 
          - build
          - test
    steps:
      - uses: actions/checkout@v6
      - uses: swift-actions/setup-swift@v2
      - name: Run ${{ matrix.command }}
        run: swift ${{ matrix.command }}
        env:
          SESSION_COOKIE: ${{ secrets.SESSION_COOKIE }}

